@model InterviewCoach.Models.FeedbackResponse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FeedbackResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallFeedback)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
