@model InterviewCoach.Models.FeedbackResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedbackResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallFeedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
